
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<form th:action="@{/actualizar}" method="post" th:object="${estudiante}">

			<input type="hidden" th:field="*{codigoEstudiante}" />
			<label>Nombre:</label>
			<input type="text" th:field="*{nombre}">
			
			<label>Apellido:</label>
			<input type="text" th:field="*{apellido}">

			
			<label>Edad:</label>
			<input type="number" th:field="*{edad}">

			
			<label>Estado:</label>
			<input type="text" th:field="*{estado}">
		<input type="submit" value="Actualizar Estudiante">
	</form>
	
	<form th:action="@{/}">
		<input type="submit"   value="Regresar">
	</form>




</body>
</html>